<div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
    <div class="conteiner px-3">
      
      <form class="educacion">
          <div class="my-3">
            <label for="educacionUno" class="form-label">Educacion1</label>
            <input class="form-control" type="file" id="educacionUno">
          </div>
          <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <button type="submit" class="btn btn-warning">Actualizar</button>

            <div  class="my-3">
              <label for="educacionDos" class="form-label">Educacion2</label>
              <input class="form-control" type="file" id="educacionDos">
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
              <button type="submit" class="btn btn-warning">Actualizar</button>

              <div  class="my-3">
                <label for="educacionTres" class="form-label">Educacion3</label>
                <input class="form-control" type="file" id="educacionTres">
              </div>
              <button type="submit" class="btn btn-success">Guardar</button>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <button type="submit" class="btn btn-warning">Actualizar</button>

                <div  class="my-3">
                  <label for="educacionCuatro" class="form-label">Educacion4</label>
                  <input class="form-control" type="file" id="educacionCuatro">
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                  <button type="submit" class="btn btn-warning">Actualizar</button>

                  <div  class="my-3">
                    <label for="educacionCinco" class="form-label">Educacion5</label>
                    <input class="form-control" type="file" id="educacionCinco">
                  </div>
                  <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="submit" class="btn btn-warning">Actualizar</button>

                    <div class="my-3">
                      <label for="educacion" class="form-label">Educacion</label>
                      
                        
                  <textarea class="form-control"  id="educacion" style="height: 100px"></textarea>
                          
                      
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                      <button type="submit" class="btn btn-warning">Actualizar</button>
          
          

</form>


</div>
    
  
  </div>