<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img class="logoAp" src="assets/imagen/logo.png" alt="logo-argentina-programa" title="argentina programa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.linkedin.com/in/guido-arlettaz-056491212/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="list-group-item"><a href="https://github.com/Guidoarlettaz95" target="_blank"><i class="fa-brands fa-github-alt fa-2x"></i></a></li>
            <li class="list-group-item"><a href="https://www.facebook.com/guido.arlettaz/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
            <!--boton que envia al login-->


          </ul>
      </div>
    </div>
  </nav>

  <section class="login">
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 formulario-login">
          <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Registrarme</button>
         </div>  
      </div>
    </form>
      </div>
      <small>Si ya tenes cuenta <a routerLink="/login">ingresa</a></small>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>