<section class="proyectos mt-5">
    <h2 class="text-center"><span>Proyectos</span></h2>
    <div class="card" style="width: 18rem;">
      <img src="assets/imagen/banner3.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Portfolio</h5>
        <p class="card-text">Conoce mi Portfolio</p>
        <a href="file:///C:/Users/Guido%20Arlettaz/Desktop/Portfolio/FrontEnd/index.html#" target="_blank" class="btn btn-primary">Click Aqui</a>
      </div>
    </div>
    
  </section>