<div class="tab-pane fade" id="list-inicio" role="tabpanel" aria-labelledby="list-inicio-list">
    <div class="conteiner px-3">
      
      <form>
          <div class="my-3">
            <label for="inicio" class="form-label">Inicio</label>
            <input class="form-control" type="file" id="inicio">
          </div>
          <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <button type="submit" class="btn btn-warning">Actualizar</button>
          
          

</form>


</div>
  </div>
