<div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
    <div class="conteiner px-3">

      <form class="proyectos">
        <div class="my-3">
          <label for="proyectosUno" class="form-label">Imagen</label>
          <input class="form-control" type="file" id="proyectosUno">
        </div>
        <div class="my-3">
          <label for="proyectosUno" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="proyectosUno">
        </div>
        <div class="my-3">
          <label for="proyectosUno" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="proyectosUno">
        </div>
        <div class="my-3">
          <label for="proyectosUno" class="form-label">Enlace</label>
          <input type="text" class="form-control" id="proyectosUno">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="submit" class="btn btn-warning">Actualizar</button>

        
      </form>
        
      


</div>

  </div>
